*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
.main{
    border: 2px solid black;
}
#box1{
    background-color:rgb(187, 236, 219);
    height: 350px;
    width: 100%;
    padding: 30px 0PX;
    font-family: Impact;
    font-size: 30px;
    text-align: center;
   
   
}
#box2{
    background-color: rgb(88, 186, 164);
    float: left;
    height: 190px;
    width: 28%;
    border: 5px solid rgb(61, 3, 1);
    margin: 45px  0px 15px 15px;
    text-align: center;
    padding-top: 70px;
    font-family: Impact;
    font-size: 20px;
   
}

#box3{
    background-color: rgb(179, 216, 168);
    float: right;
    height: 190px;
    width: 67%;
    border: 5px solid rgb(61, 3, 1);
    margin: 45px  15px 15px 0;
    padding-top: 70px;
    font-family: Impact;
    font-size: 20px;
    text-align: center;
}
#box4{
    background-color: rgb(61, 141, 122);
    height: 1000px;
    width: 100%;
    padding: 30px 0;
    font-family: Impact;
    font-size: 30px;
    text-align: center;
   
    
}
#box5{
    background-color: rgb(16, 60, 52);
    float: right;
    height: 850px;
    width: 38%;
    border: 5px solid black;
    margin: 15px  15px 15px 15px;
    padding-top: 70px;
    font-family: Impact;
    font-size: 30px;
    text-align: center;
    float: left;
    color: white;
    align-items:center ;

}
#box6{
    background-color: rgb(16, 60, 52);
    float: left;
    height: 850px;
    width: 58%;
    border: 5px solid black;
    margin: 15px  15px 15px 15px;
    padding-top: 70px;
    font-family: Impact;
    font-size: 20px;
    text-align: center;
    float: right;

}
#box7{
    background-color: rgb(179, 216, 168);
    height: 200px;
    border: 5px solid black;
    margin: 20px;
    padding-top: 80px;
    font-family: Impact;
    font-size: 20px;
    text-align: center;
    

}
#box8{
    background-color: rgb(251, 255, 228);
    height: 400px;
    border: 5px solid black;
    margin: 20px;;
    padding-top: 150px;
    font-family: Impact;
    font-size: 30px;
    text-align: center;
    color: black;
    }
#last-box{
    height: 800px;
    background-color: rgb(106, 156, 137);
    padding-top: 100px;

} 
#img{
    width: 48%;
    border: 4px solid rgb(3, 0, 0);
    float: left;
   
    margin: 20px;
}
#text {
   
    font-size: 30px;
    text-align: justify;
    text-transform: none;
    padding-top: 25px;
   } 
#txt-div{
    border: 4px solid rgb(3, 0, 0);
    float: right;
    width: 47%;
    padding: 50px;
    margin: 20px;
    background-color: rgb(193, 216, 195);
    
}
input{
    font-size: 15px;
    margin-top: 4px;
    color: black;
   border: 2px solid green;
   padding: 10px;
   width: 500px;
}

.mybtn{
    background-color:white;
    font-weight: 700;
    color: green;
    padding: 8px 20px;
    margin-top: 9px;
    border: 2px solid black;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 50px;
}
#footer{
    background-color: rgb(1, 85, 81);
   
    height: 500px;
    width: 100%;
    padding: 20px;
}
.fb1 , .fb2 , .fb3{
    background-color:rgb(187, 236, 219);

    height: 400px;
    width: 31%;
    padding: 20px;
    font-family: Impact;
    font-size: 30px;
    text-align: center; 
    padding-top: 200px;
    border: 4px solid rgb(13, 4, 4);
    float: left;
    margin: 20px;
}
.fb2{
     float: left;
   }
.fb3 {
   float: right;
 }