*{
    padding: 0;
    margin: 0;
    font-family: serif;
}
#navbar{
padding: 20px;
    background-color:rgb(61, 141, 122);
}
a{
    margin-right: 160px;
    text-decoration: none;
    color: white;
}
#logo{
    font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-left: 20PX;
}
button{
    padding: 6px 12px 6px 12px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    font-family: serif;
}
.first-div{
    background-color: rgb(179, 216, 168);
    padding: 50px 140px 50px 140px;
    align-items: center;
    text-align: center;
}
#main{
    background-color: rgb(179, 216, 168);
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: center;
}
.first .second {
    background-color: white(135, 56, 56);
    height: 150px;
    width: 300px;
    text-align: center;
    padding: 30px;
}
    
.box{
    padding: 80px;
    margin: 100px 300px;
    border: 5px solid red;
    border-radius: 50px 0px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    
}
#btn{
    background-color:white;
    color: red;
    padding: 10px 20px;
    margin-top: 9px;
    border-radius: 20px 0px;
    border: 2px solid red;
    font-size: 15px;
    text-transform: uppercase;
}
h1{
    font-size: 25px;
    padding-bottom: 10px;
    text-align: justify;
    color: red;
    text-transform: capitalize;
}
p {
   text-align: justify; 
   padding-bottom: 20px;
   font-size: 20px;
   text-transform: lowercase;

}
li{
    font-size: 20px;}
  
#box2{
    border: 5px solid black;
    padding: 150px 70px 70px 70px;
    margin: 300px;
    
    border-radius: 350px 350px 0  0;
    text-align: center;
}
input{
    font-size: 15px;
    margin-top: 4px;
    color: black;
   border: 2px solid green;
   padding: 10px;

}
.mybtn{
    background-color:white;
    font-weight: 700;
    color: green;
    padding: 8px 20px;
    margin-top: 9px;
    border: 2px solid black;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 50px;
}


